@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
}
.App {
  max-width: 30%;
  margin: 50px auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.screen {
  width: 100%;
  padding: 20px 20px 4px 0;
  text-align: right;
  margin: 15px 0;
  border-radius: 10px;
  font-size: 32px;
}
.display-val {
  font-size: 12px;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.keypad2 {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.key {
  box-shadow: 5px hsl(28, 16%, 65%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
.key2 {
  width: 45%;
  text-align: center;
  padding: 10px;
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
.theme {
  display: flex;
}

@media only screen and (max-width: 414px) {
  .App {
    max-width: 95%;
    margin: 50px auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .App {
    max-width: 70%;
    margin: 50px auto;
  }
  .keypad{
      height: 500px;
      padding: 20px;
  }
  .screen{
      padding: 30px;
  }
}
